/*------------------------------------------------------------------*/

@media only screen and (max-width: 769px) and (orientation: landscape)

{

	#cabecera{
		height: 300px;
		margin: 0;
		text-align: center;
		background-image: url(../img/portada.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
	}

	#imag {
		margin-top: 30px;
		width: 70%;
		height: auto;
		align: center;
	}


	#Contenidor{
		background-color: white;
		z-index: -1;
		background: rgba(0,0,0,0.2);
		align: center;
		width: 80%;
		height: auto;
		margin: 0 auto;
		text-align: center;
		padding: 10px;
	}


	#Contenidorblanc{
		background-color: white;
		border: 1px solid #333;
		align: center;
		width: 65%;
		height: auto;
		margin: 0 auto;
		text-align: left;
		padding: 40px;
		padding-top: 60px;	

	}
	
	header {
		width: 100%;
		background: #333;
		position: absolute;
		top: 300px;
		left: 0;
		z-index: 100;	
		text-align: center;
		letter-spacing: 1px;
	}

	#btn-menu {
		display: none;
	}

	header label {
		display: none;
		width: 30px;
		height: 20px;
		padding: 10px;
		margin-left: 0;
		border-radius: 1px solid #fff;
	}

	header label:hover {
		cursor: pointer;
		background: rgba(250,250,250,0.3);

	}

	.menu ul {
		margin: 0;
		list-style: none;
		padding: 0;
		display: flex;

	}

	header label{
		display: block;
	}

	.menu{
			position: absolute;
			background: #222;
			width: 40%; 
			margin-left: -40%;
			transition: all 0.5s;

		}

	.menu ul{
			flex-direction: column;

		}

	.menu li{
			border-top: 1px solid #fff;

		}

	#btn-menu:checked ~ .menu {
			margin: 0;

		}

	.menu li {
		border-right: 1px solid #fff;
	}

	.menu li: hover {
		cursor: pointer;
		background: rgba(250,250,250,0.3);

	}

	.menu li a {
		display: block;
		padding: 15px 20px;
		color: #fff;
		text-decoration: none;
	}


	#peu {
		padding-top: 10px;
		height: auto;
		background-color: #222;
		text-align: center;
		color: #fff;
	}

	#cnt {
		padding: 10px;
	}

	.seccio {
		height: 300px;
		margin-top: 10px;
		border-radius: 20px;
		color: #fff;
		background-repeat: no-repeat;
		background-position: right;
		text-align: left;
		text-decoration: underline;
		line-height: 300px;
		padding-left: 100px;
		letter-spacing: 3px;
	
	}

	#seccio2 {
		margin-top: 35px;
		background-image: url(../img/papeleo.jpg); 

	}



	#seccio3 {
	
		background-image: url(../img/oldmanok.png);
	
	}


	#seccio4 {

		background-image: url(../img/Gastronomia.png);

	}


	#seccio5 {

		background-image: url(../img/senderismo.png);
	}



	#seccio6 {
		
		background-image: url(../img/quever.png);
		
	}


	#seccio7 {
		background-image: url(../img/dades.png);
		background-color: green;
	}

	#seccio8 {
		background-image: url(../img/experiencies.png);
	}

	#productes {
		margin-top: 25px;
		background-image: url(../img/Productes.jpg);
	}

	#foro {
		margin-top: 25px;
		background-color: #222
	}

	#map {
		margin-top: 25px;
		background-color: #222;
	}


	
}
